@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Configuración general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos CSS */
html {
  font-size: 62.5%;
  background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  color: #666;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.container {
  width: 97vw;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color:rgba(180, 180, 184, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20rem;
}

.menu {
  background-color: rgba(214, 214, 217, 0.5);
  padding: 2rem;
  width: 100%;
  margin-top: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.content-container {
  break-inside: avoid;
  display: flex;
  gap: 20px;
  flex-direction: column;
}


.presentacion, .sobre-mi, .formacion-certificaciones {
  background-color: rgba(167, 224, 247, 0.5);
  border-radius: 5px;
  margin-top: 2rem;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentacion> h2, .sobre-mi> h2, .formacion-certificaciones> h2 {
  margin: 1rem;
  font-size: 3rem;
}

.presentacion> p, .sobre-mi> p, .formacion-certificaciones> p {
  font-size: 1.8rem;
  align-items: center;
  display: flex;
  color: #060047;
}
